flows.json
[{"id":"b4690c23.44c0e","type":"tab","label":"Hass + Metaforsa","disabled":false,"info":""},{"id":"1b16056.4f96afb","type":"websocket out","z":"b4690c23.44c0e","name":"Larnitech","server":"ef0157b6.05a448","client":"","x":580,"y":120,"wires":[]},{"id":"fe2c8c97.eb478","type":"websocket in","z":"b4690c23.44c0e","name":"Larnitech","server":"ef0157b6.05a448","client":"","x":580,"y":180,"wires":[["e5af7b90.b9b3b8","9324aba8.4dc578"]]},{"id":"d3cc5058.cfba8","type":"inject","z":"b4690c23.44c0e","name":"auth","topic":"","payload":"{\"request\":\"authorize\",\"key\":\"1212121212121212\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["1b16056.4f96afb"]]},{"id":"e5af7b90.b9b3b8","type":"debug","z":"b4690c23.44c0e","name":"Metaforca","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":140,"wires":[]},{"id":"1e9ebcec.96c053","type":"inject","z":"b4690c23.44c0e","name":"get-devices","topic":"","payload":"{\"request\":\"get-devices\",\"id\":\"id1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["1b16056.4f96afb"]]},{"id":"6ad195f5.dda70c","type":"inject","z":"b4690c23.44c0e","name":"on Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"1\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["1b16056.4f96afb"]]},{"id":"2e6a3ab5.1be8e6","type":"inject","z":"b4690c23.44c0e","name":"off Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"0\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["1b16056.4f96afb"]]},{"id":"440cb865.866258","type":"server-state-changed","z":"b4690c23.44c0e","name":"metaforse_light ","server":"354319bb.ea7d66","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"automation.hallway_pir_on","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":420,"wires":[["726424c.89e3ddc"]]},{"id":"726424c.89e3ddc","type":"function","z":"b4690c23.44c0e","name":"status-set","func":"\nreturn {\n    payload:[\n        {\n            \"request\": \"status-set\",\n            \"status\": msg.payload == \"on\" ? 1 : 0,\n            \"addr\": \"249:2\"\n        }\n    ]\n};","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["1b16056.4f96afb"]]},{"id":"8eeb5d71.81f","type":"inject","z":"b4690c23.44c0e","name":"status-get Лампа кухни","topic":"","payload":"[{\"request\":\"status-get\",\"addr\":[\"249:2\"],\"status\":\"detailed\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["1b16056.4f96afb"]]},{"id":"6d1fda53.db8ea4","type":"inject","z":"b4690c23.44c0e","name":"status-subscribe [Лампа кухни]","topic":"","payload":"[{\"request\":\"status-subscribe\",\"addr\":\"249:2\",\"status\":\"detailed\",\"reset\":true}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["1b16056.4f96afb"]]},{"id":"2b7894a2.5558fc","type":"mqtt in","z":"b4690c23.44c0e","name":"mqtt.metaforsa-cmd","topic":"mf/+/+/cmd","qos":"2","datatype":"auto","broker":"7b630bc2.bb0134","x":190,"y":520,"wires":[["e5ddb11.eda965"]]},{"id":"a47f2a41.1550b8","type":"debug","z":"b4690c23.44c0e","name":"mqtt-metaforca","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":520,"wires":[]},{"id":"e5ddb11.eda965","type":"function","z":"b4690c23.44c0e","name":"status-set","func":"var s = msg.topic;\nvar arr = []\n\narr = s.split(\"/\")\narr = arr.slice(1,3).join(\":\")\n\nreturn {\n    payload:[\n        {\n            \"request\": \"status-set\",\n            \"status\": msg.payload.toLowerCase() == \"on\" ? 1 : 0,\n            \"addr\": arr\n        }\n    ]\n};","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["1b16056.4f96afb"]]},{"id":"5b29b8f5.47f478","type":"function","z":"b4690c23.44c0e","name":"status-set","func":"// {\n// \t\"event\":\"statuses\",\n// \t\"devices\":[\n// \t\t{\n// \t\t\t\"addr\":\"249:2\",\n// \t\t\t\"type\":\"lamp\",\n// \t\t\t\"status\":{\n// \t\t\t\t\"state\":\"off\",\n// \t\t\t\t\"auto-state\":true\n// \t\t\t}\n// \t\t}\n// \t]\n// }\n\nreturn {\n    topic : \"mf/\" + msg.payload.devices[0].addr.replace(\":\", \"/\") +\"/state\",\n    payload : msg.payload.devices[0].status.state.toUpperCase()\n};","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["cd974475.b2b468","a47f2a41.1550b8"]]},{"id":"cd974475.b2b468","type":"mqtt out","z":"b4690c23.44c0e","name":"mqtt.metaforsa-state","topic":"","qos":"","retain":"","broker":"7b630bc2.bb0134","x":660,"y":420,"wires":[]},{"id":"9324aba8.4dc578","type":"switch","z":"b4690c23.44c0e","name":"state-event","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"event","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":240,"wires":[["5b29b8f5.47f478"]]},{"id":"ef0157b6.05a448","type":"websocket-listener","z":"","path":"ws://metaforsa.bein.tech:2041/api","wholemsg":"false"},{"id":"354319bb.ea7d66","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"7b630bc2.bb0134","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]