metaforsa2ha-1.0.json
[{"id":"b4690c23.44c0e","type":"tab","label":"Hass + Metaforsa","disabled":false,"info":""},{"id":"1b16056.4f96afb","type":"websocket out","z":"b4690c23.44c0e","name":"Metaforsa","server":"ef0157b6.05a448","client":"","x":580,"y":120,"wires":[]},{"id":"fe2c8c97.eb478","type":"websocket in","z":"b4690c23.44c0e","name":"Metaforsa","server":"ef0157b6.05a448","client":"","x":580,"y":180,"wires":[["e5af7b90.b9b3b8","53154bb.00deab4"]]},{"id":"d3cc5058.cfba8","type":"inject","z":"b4690c23.44c0e","name":"auth","topic":"","payload":"{\"request\":\"authorize\",\"key\":\"1212121212121212\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["1b16056.4f96afb"]]},{"id":"e5af7b90.b9b3b8","type":"debug","z":"b4690c23.44c0e","name":"Metaforca","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":120,"wires":[]},{"id":"1e9ebcec.96c053","type":"inject","z":"b4690c23.44c0e","name":"get-devices","topic":"","payload":"{\"request\":\"get-devices\",\"id\":\"id1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["1b16056.4f96afb"]]},{"id":"6ad195f5.dda70c","type":"inject","z":"b4690c23.44c0e","name":"on Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"1\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["1b16056.4f96afb"]]},{"id":"2e6a3ab5.1be8e6","type":"inject","z":"b4690c23.44c0e","name":"off Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"0\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["1b16056.4f96afb"]]},{"id":"8eeb5d71.81f","type":"inject","z":"b4690c23.44c0e","name":"status-get Лампа кухни","topic":"","payload":"[{\"request\":\"status-get\",\"addr\":[\"249:2\"],\"status\":\"detailed\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["1b16056.4f96afb"]]},{"id":"6d1fda53.db8ea4","type":"inject","z":"b4690c23.44c0e","name":"status-subscribe [Лампа кухни]","topic":"","payload":"[{\"request\":\"status-subscribe\",\"addr\":\"249:2\",\"status\":\"detailed\",\"reset\":true}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["1b16056.4f96afb"]]},{"id":"2b7894a2.5558fc","type":"mqtt in","z":"b4690c23.44c0e","name":"mqtt.ha2metaforsa","topic":"mf/+/+/cmd","qos":"2","datatype":"auto","broker":"7b630bc2.bb0134","x":130,"y":440,"wires":[["e5ddb11.eda965"]]},{"id":"e5ddb11.eda965","type":"function","z":"b4690c23.44c0e","name":"status-set","func":"var s = msg.topic;\nvar arr = []\n\narr = s.split(\"/\")\narr = arr.slice(1,3).join(\":\")\n\nreturn {\n    payload:[\n        {\n            \"request\": \"status-set\",\n            \"status\": msg.payload.toLowerCase() == \"on\" ? 1 : 0,\n            \"addr\": arr\n        }\n    ]\n};","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["1b16056.4f96afb","a47f2a41.1550b8"]]},{"id":"5b29b8f5.47f478","type":"function","z":"b4690c23.44c0e","name":"subscribe.handler","func":"// {\n// \t\"event\":\"statuses\",\n// \t\"devices\":[\n// \t\t{\n// \t\t\t\"addr\":\"249:2\",\n// \t\t\t\"type\":\"lamp\",\n// \t\t\t\"status\":{\n// \t\t\t\t\"state\":\"off\",\n// \t\t\t\t\"auto-state\":true\n// \t\t\t}\n// \t\t}\n// \t]\n// }\n\nreturn {\n    topic : \"mf/\" + msg.payload.devices[0].addr.replace(\":\", \"/\") +\"/state\",\n    payload : msg.payload.devices[0].status.state.toUpperCase()\n};","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["cd974475.b2b468"]]},{"id":"cd974475.b2b468","type":"mqtt out","z":"b4690c23.44c0e","name":"mqtt.metaforsa2ha","topic":"","qos":"","retain":"","broker":"7b630bc2.bb0134","x":610,"y":440,"wires":[]},{"id":"9324aba8.4dc578","type":"switch","z":"b4690c23.44c0e","name":"filter.status-event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"statuses","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":320,"wires":[["5b29b8f5.47f478"],[]]},{"id":"53154bb.00deab4","type":"json","z":"b4690c23.44c0e","name":"","property":"payload","action":"","pretty":false,"x":590,"y":260,"wires":[["9324aba8.4dc578"]]},{"id":"a47f2a41.1550b8","type":"debug","z":"b4690c23.44c0e","name":"mqtt-metaforca","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":500,"wires":[]},{"id":"ef0157b6.05a448","type":"websocket-listener","z":"","path":"ws://metaforsa.bein.tech:2041/api","wholemsg":"false"},{"id":"7b630bc2.bb0134","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]