metaforsa-flows-1.0.json
[{"id":"7dd0a381.93796c","type":"tab","label":"Metaforsa","disabled":false,"info":""},{"id":"dcc1149e.fa43a8","type":"websocket out","z":"7dd0a381.93796c","name":"Larnitech","server":"ef0157b6.05a448","client":"","x":620,"y":80,"wires":[]},{"id":"f7815f8a.7cdc7","type":"websocket in","z":"7dd0a381.93796c","name":"Larnitech","server":"ef0157b6.05a448","client":"","x":200,"y":360,"wires":[["553a9069.1386"]]},{"id":"9c4abb2d.82e9e8","type":"inject","z":"7dd0a381.93796c","name":"auth","topic":"","payload":"{\"request\":\"authorize\",\"key\":\"1212121212121212\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":40,"wires":[["dcc1149e.fa43a8","553a9069.1386"]]},{"id":"553a9069.1386","type":"debug","z":"7dd0a381.93796c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"2773465f.a4c65a","type":"inject","z":"7dd0a381.93796c","name":"status-get Лампа кухни","topic":"","payload":"[{\"request\":\"status-get\",\"addr\":[\"249:2\"],\"status\":\"detailed\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":120,"wires":[["dcc1149e.fa43a8"]]},{"id":"f002cbf8.98a968","type":"inject","z":"7dd0a381.93796c","name":"get-devices","topic":"","payload":"{\"request\":\"get-devices\",\"id\":\"id1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["dcc1149e.fa43a8"]]},{"id":"25df5f3d.6904d","type":"inject","z":"7dd0a381.93796c","name":"on Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"1\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["dcc1149e.fa43a8"]]},{"id":"e40930.5aa246d","type":"inject","z":"7dd0a381.93796c","name":"off Лампа кухни","topic":"","payload":"[{\"request\":\"status-set\",\"status\":\"0\",\"addr\":\"249:2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":280,"wires":[["dcc1149e.fa43a8"]]},{"id":"71effdb8.e04fe4","type":"inject","z":"7dd0a381.93796c","name":"status-subscribe [Лампа кухни]","topic":"","payload":"[{\"request\":\"status-subscribe\",\"addr\":\"249:2\",\"status\":\"detailed\",\"reset\":true}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["dcc1149e.fa43a8"]]},{"id":"ef0157b6.05a448","type":"websocket-listener","z":"","path":"ws://metaforsa.bein.tech:2041/api","wholemsg":"false"}]